@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-bg: var(--color-slate-50);
}

.dark {
  --ui-bg: var(--color-zinc-950);
}
div[id^="dashboard-sidebar-"]:not([data-dragging="true"]) {
  transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
